@use "../../../../../styles/mixins" as m;
@use "../../../../../styles/variables" as v;

.types {
  color: v.$title-font;
  margin-bottom: 0.5rem;
}

.types_paragraph {
  margin-bottom: 0.5rem;
}

.types_buttons {
  @include m.flexRowSpaceBetween;
  justify-content: space-around;
}

.modalType-button {
  color: v.$title-font;
}

@media (min-width: 1024px) {
  .types_buttons .modalType-button {
    font-size: 1rem;
  }
}
