@use "sass:color";

@use "./variables" as v;

/* Typography */
@mixin bold {
  font-weight: 700;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexRowSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//pokedex logo
