@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.signup-container {
  height: 50vh;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  background-color: v.$title-font;
  padding: 2rem;
  @include m.flexColumn;
  justify-content: center;
  border-radius: 0.5rem;
}
.signup-container h2 {
  margin-bottom: 3rem;
}

.signup-form {
  @include m.flexColumn;
  width: 75%;
  margin: 0 auto;
}

.signup-form input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.signup-form button {
  padding: 0.5rem;
  width: 30%;
  margin: 0 auto;
}
.error-message {
  color: red;
  margin-bottom: 1rem;
}
