@use '../../../styles/mixins' as m;
@use '../../../styles/variables' as v;

.error-container {
  @include m.flexColumn;
  justify-content: center;
  align-items: center;
}
.pokeball-icon {
  @include m.flexRow;
  align-items: center;
  justify-content: center;
}
.error-paragraph {
  color: red;
  font-size: 5rem;
}
.pokeball-paragraph {
  color: v.$title-font;
  font-size: 7rem;
}
.pokeball-image {
  width: 10%;
}
