@use '../../../../styles/mixins' as m;
@use '../../../../styles/variables' as v;

.createTeam-main {
  padding: 1.2rem;
  @include m.flexColumn;
  justify-content: space-between;
  align-items: center;
}
.createTeam-container {
  width: 75%;
  // margin: 0 auto;
  margin-bottom: 1rem;
}

.team-pokemon-paragraph {
  margin-bottom: 0.5em;
  color: v.$icon-font;
  display: block;
  font-size: 1rem;
  font-weight: 600;
}
.team-pokemon {
  @include m.flexRow;
  gap: 2.5rem;
  margin-bottom: 0.5rem;
}

.team-pokemon .pokemon-article-image .pokemon-figure .pokemon-figure-paragraph {
  color: v.$icon-font;
}
