@use "../../../../styles/mixins" as m;
@use "../../../../styles/variables" as v;

.title {
  color: v.$title-font;
  font-size: 1.5rem;
}
.title:not(:last-child) {
  margin-bottom: 0;
}
.modal-card,
.modal-content {
  width: 90%;
}
.modal-title {
  @include m.flexRowSpaceBetween;
  padding: 1rem 0.3rem;
  margin-bottom: 0.5rem;
}
.pokemonModal_image {
  width: 100%;
}
.pokemonModal-description {
  @include m.flexRowSpaceBetween;
  gap: 1rem;
  color: v.$title-font;
  margin-bottom: 1rem;
}
.image-container {
  width: 5rem;
}
.modal-description {
  width: 50%;
}
.modal_description {
  font-size: 0.8rem;
}

@media (min-width: 1024px) {
  .image-container {
    width: 10rem;
  }
}
@media (min-width: 1200px) {
  .modal-card {
    width: 70%;
  }
  .modal-card .modal-content {
    width: 100%;
  }
}
