@use "../../../../styles/mixins" as m;
@use "../../../../styles/variables" as v;

.title {
  color: v.$title-font;
  font-size: 1.5rem;
}
.title:not(:last-child) {
  margin-bottom: 0;
}
.modal-card,
.modal-content {
  width: 90%;
}
.modal-title {
  @include m.flexRowSpaceBetween;
  padding: 1rem 0.3rem;
  margin-bottom: 0.5rem;
}
.pokemonModal-description {
  @include m.flexRowSpaceBetween;
  gap: 1rem;
  color: v.$title-font;
}
.modal_description {
  font-size: 0.7rem;
}
